.sizeborder{
    border-radius: 10px;
}
.sizeflex{
    margin-left: 365px;
    margin-right: 365px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.sizepics{
    border-radius: 10px;
    transition: 0.5s;
}
.sizepics:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}

